<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907690053743-t3s89d8np2gkbv36f66ruvuedaorblag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907690053743-t3s89d8np2gkbv36f66ruvuedaorblag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907690053743-6tlupkummae0corbahmc2pdm67u3bdim.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRJZzUIxhwFiHcBqIdpw3bjEyyCOTfSM</string>
	<key>GCM_SENDER_ID</key>
	<string>907690053743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acmvit.cryptichunt</string>
	<key>PROJECT_ID</key>
	<string>cryptic-hunt-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptic-hunt-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907690053743:ios:e65c2566b389e6706a7d9a</string>
</dict>
</plist>